{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/openid-configuration-1.0.2.js' %}"></script>
{% endblock %}


{% block submit_buttons_bottom %}
<div class="submit-row">
    <input type="submit" value="{% trans 'Save' %}" class="default" name="_save" />
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>
    <input type="button" value="{% trans 'Complete from openid provider' %}" name="openid-configuration" />
    <input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" />
    <input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />
</div>
{% endblock %}


