{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{% trans 'OAuth2 Error' %}{% endblock %}

{% block right_content %}
<h1>{% trans 'OAuth2 Error' %}</h1>
<p>{{ error }}</p>
<p>{{ error.error }}</p>
{% endblock right_content %}
