<!DOCTYPE html>
<html>
<body
    data-authenticated="{{ user.is_authenticated }}"
    data-milliseconds="10000"
    data-error="{{ error }}"
    data-target_origin="{{ origin }}" 
    data-client_id="{{ client_id }}"
    data-session_state="{{ session_state }}"
    data-logout_url="{% url 'mysite_oauth:logout' %}">
	<script>
	(function() {
	    let targetOrigin = document.body.dataset.target_origin;
	    let message = document.body.dataset.client_id + " " + document.body.dataset.session_state;
	    let timerID;
	    
	    let checkSession = function() {
	        let win = window.parent.document.getElementById('op').contentWindow;
	        win.postMessage( message, targetOrigin);
	    }	    
	    let setTimer = function() {
	        let milliseconds = document.body.dataset.milliseconds;
	        // checkSession();
	        return setInterval(checkSession, milliseconds);
	    }
	    
	    let receiveMessage = function(e) {
	        console.log('receiveMessage: ' + e.data + ' from ' + e.origin);
	        let url = new URL(e.origin);
	        let origin = url.protocol + "//" + url.host
	        if (origin !== targetOrigin ) {
	            console.log('receiveMessage: cross-site scripting attack?');
	            return;
	        }	        
	        if (e.data === "changed") {
                let refresh_token_url = document.body.dataset.refresh_token_url;
                let logout_url = document.body.dataset.logout_url;
	            clearInterval(timerID);
                console.log("redirect to logout: " + logout_url);
                window.parent.location.href = logout_url;
	        }
	    }
	    let authenticated = document.body.dataset.authenticated;
        let error = document.body.dataset.error;
        if (error === "login_required") {
            let logout_url = document.body.dataset.logout_url;
            console.log("error: login_required -> redirect to logout: " + logout_url);
            window.parent.location.href = logout_url;
        } else if (authenticated === "True" && document.body.dataset.session_state != "") {
            window.addEventListener('message', receiveMessage, false);
            timerID = setTimer();
        }
	})();
	</script>
</body>
</html>
