{% extends "buchbase.html" %}
{% load i18n %}

{% block title %}SSO-Gruppe nicht vergeben{% endblock %}

{% block content %}

<p>Ihr Anmeldename wurde zu der SSO-Gruppe (Benutzer-Rolle) für diese Domain noch nicht zugeordnet.</p>
<p>Eine Zugang ist deshalb nicht möglich.</p>
<p>Wenden Sie sich bitte an der Verwalter dieser Domain.</p>

{% endblock %}
