{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}<link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}" type="image/ico"/>{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

