{% load i18n %}
<html>
<head>
    <title>{% block title %}{{ flatpage.title }}{% endblock %}</title>
</head>
<body>
{% block right_content %}{{ flatpage.content|safe }}{% endblock %}

<table>
    <tr>
        <td>scopes</td>
        <td>{{ scopes }}</td>
    </tr>
    <tr>
        <td>client</td>
        <td>{{ client }}</td>
    </tr>
    <tr>
        <td>user</td>
        <td>{{ user }}</td>
    </tr>
</table>


</body>

</html>