{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{% trans 'Home' %}</li>
    </ol>
{% endblock %}

{% block right_content %}
    {% if messages %}{% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
    {% endif %}
    {{ flatpage.content|safe }}
{% endblock %}

