{% extends "base_site.html" %}
{% load i18n %}

{% block title %}Client {% trans 'OAuth 2.0 for installed Applications' %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li class="active">{% trans 'Log in for installed apps' %}</li>
    </ol>
{% endblock %}


{% block right_content %}
    <h3>{% trans 'Log in for installed Applications' %}</h3>

    {% for  authentication in authentications %}
        <p><a class="btn btn-primary" href="{{ authentication.uri }}"><span class="glyphicon glyphicon-user"></span>  {% blocktrans with name=authentication.name %}Log in with
            {{ name }}{% endblocktrans %}</a></p>
    {% endfor %}
{% endblock right_content %}
