{% extends "base_site.html" %}
{% load i18n %}

{% block title %}Client {% trans 'Login' %}{% endblock %}


{% comment %}{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li class="active">{% trans 'Log in for web apps' %}</li>
    </ol>
{% endblock %}{% endcomment %}


{% block right_content %}
    {# <h3>{% trans 'Log in for Web Applications' %}</h3> #}

    {% if messages %}{% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
    {% endif %}

{% comment %}    {% if not user.is_authenticated %}
        <p>Welcome, please select your Identity Provider.</p>
    {% endif %}{% endcomment %}

    {% comment %}
    {% if user.is_authenticated %}
        <p>{% blocktrans with user.identity_provider as provider %}Welcome, {{ user }}, you are logged in with <strong>{{ provider }}</strong>.{% endblocktrans %}
            {% if next %}
                Thanks for logging in. <a href="{{ next }}">{% trans 'Next' %}</a>
            {% endif %}
        </p>
    {% else %}
        <p>Welcome, please select your Identity Provider.</p>
    {% endif %}
    {% endcomment %}


    {% for  authentication in authentications %}
        {# <p><a class="btn btn-{% if authentication.id == user.identity_provider.id %}success{% else %}primary{% endif %}" href="{{ authentication.uri }}"><span class="glyphicon glyphicon-user"></span>  {% blocktrans with name=authentication.name %}Log in with {{ name }}{% endblocktrans %}</a></p> #}
        <p>{% if not user.is_authenticated %}
               {#  <a class="btn btn-success" href="{% url "mysite_start" %}">Startseite</a> {% else %} #}
            <a id="{{ authentication.id }}" class="btn btn-{% if authentication.id == request.session.client_id %}success{% else %}primary{% endif %}" {# 2020-01-27 #}
            {# <a class="btn btn-{% if authentication.id == user.identity_provider.id %}success{% else %}primary{% endif %}" #}
              href="{{ authentication.uri }}" data-toggle="tooltip" data-placement="right" title="{{ authentication.tooltip }}">
                <span class="glyphicon glyphicon-user"></span>
                {% blocktrans with name=authentication.name %}Log in with {{ name }}{% endblocktrans %}
           </a>
           {% endif %}
        </p>
    {% endfor %}


    {% if userinfo %}
        <table class="table table-condensed">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            {% for key, value in userinfo.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>
                        {% if key == 'picture' %}
                            <image src="{{ value }}" width="100px" alt="user image" />
                        {% elif key == 'applications' %}
                            <ul>
                                {% for app in value %}
                                    <li><a href="{{ app.url }}">{{ app.title }}</a></li>{% endfor %}
                            </ul>
                        {% else %}{{ value }}{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


{% endblock right_content %}




 


