<noscript>{% load i18n %}
    <div class="alert alert-warning">
    {% blocktrans with "http://enable-javascript.com/" as url %}Please activate JavaScript to enable all features. <a href="{{ url }}" target="_blank">Read this page for more help</a>{% endblocktrans %}
    </div>
</noscript>
